@page
@model HttpWebshopCookie.Pages.Admin.IndexModel
@{
    ViewData ["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<p>Welcome to the Admin Dashboard.</p>

<div class="list-group w-25">
    <a href="/Admin/Orders/OrderListings" class="list-group-item list-group-item-action list-group-item-danger">Orders</a>
    <a href="/Admin/Products/Index" class="list-group-item list-group-item-action list-group-item-primary">Products</a>
    <a href="/Admin/Tags/Index" class="list-group-item list-group-item-action list-group-item-primary">Tags</a>
    <a href="/Admin/ProductTags/Index" class="list-group-item list-group-item-action list-group-item-primary">ProductTags</a>
    <a href="/Admin/Companies/Index" class="list-group-item list-group-item-action list-group-item-primary">Companies</a>
    <a href="/Admin/Customers/Index" class="list-group-item list-group-item-action list-group-item-primary">Customers</a>
    <a href="/Admin/Employees/Index" class="list-group-item list-group-item-action list-group-item-primary">Employees</a>
    <a href="/Admin/Analytics/Index" class="list-group-item list-group-item-action list-group-item-info">Analytics</a>
</div>