@page
@model HttpWebshopCookie.Pages.Admin.TestEmail.TestEmailModel
@{
    ViewData["Title"] = "Test Email";
}

<h2>Test Email</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<form asp-page-handler="SendTestEmail" method="post">
    <div class="form-group">
        <label for="RecipientEmail">Recipient Email:</label>
        <input type="email" id="RecipientEmail" name="RecipientEmail" class="form-control" asp-for="RecipientEmail" required />
    </div>
    <div class="form-group">
        <label for="EmailSubject">Email Subject:</label>
        <input type="text" id="EmailSubject" name="EmailSubject" class="form-control" asp-for="EmailSubject" value="test" required />
    </div>
    <div class="form-group">
        <label for="EmailBody">Email Body:</label>
        <textarea id="EmailBody" name="EmailBody" class="form-control" asp-for="EmailBody" value="TestSubject" rows="5" required></textarea>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
</form>


<form asp-page-handler="SendTestEmail" method="post" class="mt-4">
    <input type="hidden" name="RecipientEmail" value="test@test.com" />
    <input type="hidden" name="EmailSubject" value="Test" />
    <input type="hidden" name="EmailBody" value="This is a test mail" />
    <button type="submit" class="btn btn-primary mt-2">Send Test Email</button>
</form>
