@page
@model HttpWebshopCookie.Pages.Basket.ReviewInfoModel

<h1>Checkout Information</h1>

<form method="post">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div>
            <label for="FirstName">First Name:</label>
            <input type="text" asp-for="ReviewInfo.FirstName" id="FirstName" readonly />
            <span asp-validation-for="ReviewInfo.FirstName"></span>
        </div>

        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" asp-for="ReviewInfo.LastName" id="LastName" readonly />
            <span asp-validation-for="ReviewInfo.LastName"></span>
        </div>

        <div>
            <label for="Email">Email:</label>
            <input type="email" asp-for="ReviewInfo.Email" id="Email" readonly />
            <span asp-validation-for="ReviewInfo.Email"></span>
        </div>

        <div>
            <label for="PhoneNumber">Phone Number:</label>
            <input type="tel" asp-for="ReviewInfo.PhoneNumber" id="PhoneNumber" readonly />
            <span asp-validation-for="ReviewInfo.PhoneNumber"></span>
        </div>

        <div>
            <label for="Resident">Resident:</label>
            <input type="text" asp-for="ReviewInfo.Resident" id="Resident" readonly />
            <span asp-validation-for="ReviewInfo.Resident"></span>
        </div>

        <div>
            <label for="Street">Street:</label>
            <input type="text" asp-for="ReviewInfo.Street" id="Resident" readonly />
            <span asp-validation-for="ReviewInfo.Street"></span>
        </div>

        <div>
            <label for="PostalCode">Postal Code:</label>
            <input type="text" asp-for="ReviewInfo.PostalCode" id="PostalCode" readonly/>
            <span asp-validation-for="ReviewInfo.PostalCode"></span>
        </div>

        <div>
            <label for="City">City:</label>
            <input type="text" asp-for="ReviewInfo.City" id="City" readonly />
            <span asp-validation-for="ReviewInfo.City"></span>
        </div>
    
        <div>
            <label for="Country">Country:</label>
            <input type="text" asp-for="ReviewInfo.Country" id="Country" readonly/>
            <span asp-validation-for="ReviewInfo.Country"></span>
        </div>
    }
    else
    {
        <div>
            <label for="FirstName">First Name:</label>
            <input type="text" asp-for="ReviewInfo.FirstName" id="FirstName" />
            <span asp-validation-for="ReviewInfo.FirstName"></span>
        </div>

        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" asp-for="ReviewInfo.LastName" id="LastName" />
            <span asp-validation-for="ReviewInfo.LastName"></span>
        </div>

        <div>
            <label for="Email">Email:</label>
            <input type="email" asp-for="ReviewInfo.Email" id="Email" />
            <span asp-validation-for="ReviewInfo.Email"></span>
        </div>

        <div>
            <label for="PhoneNumber">Phone Number:</label>
            <input type="tel" asp-for="ReviewInfo.PhoneNumber" id="PhoneNumber" />
            <span asp-validation-for="ReviewInfo.PhoneNumber"></span>
        </div>

        <div>
            <label for="Resident">Resident:</label>
            <input type="text" asp-for="ReviewInfo.Street" id="Resident" />
            <span asp-validation-for="ReviewInfo.Street"></span>
        </div>

        <div>
            <label for="Street">Street:</label>
            <input type="text" asp-for="ReviewInfo.Street" id="Resident" />
            <span asp-validation-for="ReviewInfo.Street"></span>
        </div>

        <div>
            <label for="PostalCode">Postal Code:</label>
            <input type="text" asp-for="ReviewInfo.PostalCode" id="PostalCode" />
            <span asp-validation-for="ReviewInfo.PostalCode"></span>
        </div>

        <div>
            <label for="City">City:</label>
            <input type="text" asp-for="ReviewInfo.City" id="City" />
            <span asp-validation-for="ReviewInfo.City"></span>
        </div>

        <div>
            <label for="Country">Country:</label>
            <input type="text" asp-for="ReviewInfo.Country" id="Country" />
            <span asp-validation-for="ReviewInfo.Country"></span>
        </div>

    }
    <button type="submit">Submit Order!</button>
</form>

@* <form method="post">
<div>
    <label for="FirstName">First Name:</label>
    <input type="text" asp-for="ReviewInfo.FirstName" id="FirstName" />
    <span asp-validation-for="ReviewInfo.FirstName"></span>
</div>

<div>
    <label for="LastName">Last Name:</label>
    <input type="text" asp-for="ReviewInfo.LastName" id="LastName" />
    <span asp-validation-for="ReviewInfo.LastName"></span>
</div>

<div>
    <label for="Email">Email:</label>
    <input type="email" asp-for="ReviewInfo.Email" id="Email" />
    <span asp-validation-for="ReviewInfo.Email"></span>
</div>

<div>
    <label for="PhoneNumber">Phone Number:</label>
    <input type="tel" asp-for="ReviewInfo.PhoneNumber" id="PhoneNumber" />
    <span asp-validation-for="ReviewInfo.PhoneNumber"></span>
</div>

<div>
    <label for="Resident">Resident:</label>
    <input type="text" asp-for="ReviewInfo.Street" id="Resident" />
    <span asp-validation-for="ReviewInfo.Street"></span>
</div>

<div>
    <label for="City">City:</label>
    <input type="text" asp-for="ReviewInfo.City" id="City" />
    <span asp-validation-for="ReviewInfo.City"></span>
</div>

<div>
    <label for="PostalCode">Postal Code:</label>
    <input type="text" asp-for="ReviewInfo.PostalCode" id="PostalCode" />
    <span asp-validation-for="ReviewInfo.PostalCode"></span>
</div>

<div>
    <label for="Country">Country:</label>
    <input type="text" asp-for="ReviewInfo.Country" id="Country" />
    <span asp-validation-for="ReviewInfo.Country"></span>
</div>

<button type="submit">Submit Order!</button>
</form> *@